<h3> Flash messages in Express 4 </h3>
<p><a href="/express-flash">Click here</a> for a flash message using the express-flash module.</p>
<p><a href="/session-flash">Click here</a> for a flash message using custom middleware</p>
<p>Refresh to clear the flash message.</p>

{{#if expressFlash}}
    <p><strong>FLASH2!</strong> {{ expressFlash }}</p>
{{/if}}

{{#if sessionFlash.message}}
    <div class="{{ sessionFlash.type }}">
        <strong>FLASH2!</strong> {{ sessionFlash.message }}
    </div>
{{/if}}